@import "~bootstrap/scss/bootstrap";

.navbar-color {
  background-color: #35373b;
}

.menu-color {
  color: white;
  opacity: 0.6;
}

.menu-color:hover {
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.deals-list {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 3% 3%;
}

.deals-note {
  color: red;
  font-weight: bold;
  border: #D1D5DB 1px solid;
  border-radius: 5px;
  padding: 0 1%;
  width: fit-content;
}

.deals-date {
  width: 100%;
  text-align: right;
}

.deals-nom {
  font-weight: bold;
  margin: 0;
}

.deals-prix {
  color: red;
  font-weight: bold;
  margin-right: 15%;
}

.deals-prixhab {
  color: #8F949B;
  text-decoration: line-through;
  font-weight: 500;
  margin-right: 15%;
}

.deals-fdp {
  color: #8F949B;
}

.deals-pseudo {
  font-weight: 600;
}