@import "~bootstrap/scss/bootstrap";

a, a:hover {
  color: black;
}

.navbar-color {
  background-color: #35373b;
}

.menu-color {
  color: white;
  opacity: 0.6;
}

.menu-color:hover {
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.first-div-bg {
  background-color: #E9EAED;
  padding: 1% 0;
}

.deals-list {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 3% 3%;
}

.deals-note {
  color: red;
  font-weight: bold;
  border: #D1D5DB 1px solid;
  border-radius: 5px;
  padding: 0 1%;
  width: 6.1vw;
}

.deals-date {
  width: 100%;
  text-align: right;
}

.deals-nom {
  font-weight: bold;
  margin: 0;
}

.deals-prix {
  color: red;
  font-weight: bold;
  margin-right: 2%;
}

.deals-prixhab {
  color: #8F949B;
  text-decoration: line-through;
  font-weight: 500;
  margin-right: 2%;
}

.deals-fdp, .deals-type {
  color: #8F949B;
  margin-right: 2%;
}

.deals-type {
  padding-left: 20px;
  border-left: 1px #8F949B solid;
}

.deals-pseudo {
  font-weight: 600;
}

.single-bg {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.deal-commentaire {
  border-bottom: 1px #C0C0C0 solid;
}