@import "~bootstrap/scss/bootstrap";

.navbar-color {
  background-color: #35373b;
}

.menu-color {
  color: white;
  opacity: 0.6;
}

.menu-color:hover {
  color: white;
  opacity: 1;
  transition: 0.5s;
}