{% extends "base.html.twig" %}
{% block body %}
    <div class="first-div-bg">
        <div class="container single-bg my-3">
            <p style="color: red; font-size: 25px;">Compte supprimé.</p>
        </div>
    </div>
{% endblock %}
