{% extends "base.html.twig" %}
{% block body %}
    <div class="first-div-bg">
        <div class="container single-bg">
            <p>nombre de deals postés : {{ nbDealsPostes }}</p>
            <p>nombre de commentaires postés : {{ nbCommentairesPostes }}</p>
            <p>note du deal le plus hot posté : {{ noteDealHot }}</p>
        </div>
    </div>
{% endblock %}