<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dealabs{% endblock %}</title>
        <script
                src="https://code.jquery.com/jquery-3.5.1.slim.js"
                integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
                crossorigin="anonymous">

        </script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_css') }}
        {% endblock %}
    </head>
    <!--{{ dump() }}-->
    <body>
    <div id="sidebar">
        {{ render(controller(
            'App\\Controller\\SearchController::rechercher'
        )) }}
    </div>
    {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </body>
</html>
