{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Deals</h1>
        <ul>
            {% for deal in deals %}
                <li>
                    {{ deal.nom }}
                    {{ deal.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
